.logo a {
    /* color: #a61717; */
    /* font-size: 24px; */
    font-weight: 500;
}

.page-header h1 {
    font-size: 40px;
    font-weight: 500;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 24px 0 16px;
    font-weight: 500;
}

.profile .profile_inner h1 {
    padding: 12px 0;
    font-weight: 500;
}